USE [TurboTimerDB]
GO
/****** Object:  User [turbotimeruser]    Script Date: 14.05.2023 01:48:49 ******/
CREATE USER [turbotimeruser] FOR LOGIN [turbotimeruser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [turbotimeruser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [turbotimeruser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [turbotimeruser]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [turbotimeruser]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [turbotimeruser]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 14.05.2023 01:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](20) NULL,
 CONSTRAINT [pk_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makaleler]    Script Date: 14.05.2023 01:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makaleler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kategori_ID] [int] NULL,
	[Yazar_ID] [int] NULL,
	[Baslik] [nvarchar](200) NULL,
	[Ozet] [nvarchar](1000) NULL,
	[Icerik] [ntext] NULL,
	[KapakResim] [nvarchar](50) NULL,
	[GoruntulemeSayi] [int] NULL,
	[BegeniSayi] [int] NULL,
	[EklemeTarihi] [date] NULL,
	[YayinDurumu] [bit] NULL,
	[Silinmis] [bit] NULL,
 CONSTRAINT [pk_Makaleler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 14.05.2023 01:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](50) NULL,
	[Soyisim] [nvarchar](50) NULL,
	[KullaniciAdi] [nvarchar](20) NULL,
	[Mail] [nvarchar](120) NULL,
	[Sifre] [nvarchar](12) NULL,
	[UyelikTarihi] [date] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [pk_Uyeler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yoneticiler]    Script Date: 14.05.2023 01:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yoneticiler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YoneticiTur_ID] [int] NULL,
	[Isim] [nvarchar](50) NULL,
	[Soyisim] [nvarchar](50) NULL,
	[KullaniciAdi] [nvarchar](20) NULL,
	[Mail] [nvarchar](120) NULL,
	[Sifre] [nvarchar](12) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [pk_Yoneticiler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YoneticiTurleri]    Script Date: 14.05.2023 01:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YoneticiTurleri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](20) NULL,
 CONSTRAINT [pk_YoneticiTurleri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 14.05.2023 01:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Uye_ID] [int] NULL,
	[Makale_ID] [int] NULL,
	[Icerik] [nvarchar](500) NULL,
	[EklemeTarihi] [datetime] NULL,
	[BegeniSayi] [int] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [pk_Yorumlar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([ID], [Isim]) VALUES (1, N'LPG Rehberi')
INSERT [dbo].[Kategoriler] ([ID], [Isim]) VALUES (3, N'Arıza Rehberi')
INSERT [dbo].[Kategoriler] ([ID], [Isim]) VALUES (6, N'Araba Yorumları')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Makaleler] ON 

SET IDENTITY_INSERT [dbo].[Makaleler] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([ID], [Isim], [Soyisim], [KullaniciAdi], [Mail], [Sifre], [UyelikTarihi], [Durum]) VALUES (6, N'test', N'test', N'test3', N'test2@gmail.com', N'test', CAST(N'2023-05-10' AS Date), 1)
INSERT [dbo].[Uyeler] ([ID], [Isim], [Soyisim], [KullaniciAdi], [Mail], [Sifre], [UyelikTarihi], [Durum]) VALUES (7, N'test', N'test', N'test4', N'test5@gmail.com', N'test', CAST(N'2023-05-10' AS Date), 0)
INSERT [dbo].[Uyeler] ([ID], [Isim], [Soyisim], [KullaniciAdi], [Mail], [Sifre], [UyelikTarihi], [Durum]) VALUES (10, N'test', N'test', N'test', N'test@gmail.com', N'test', CAST(N'2023-05-14' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yoneticiler] ON 

INSERT [dbo].[Yoneticiler] ([ID], [YoneticiTur_ID], [Isim], [Soyisim], [KullaniciAdi], [Mail], [Sifre], [Durum]) VALUES (1, 1, N'John', N'Doe', N'JoDo', N'jodo26@hotmail.com', N'1234', 1)
SET IDENTITY_INSERT [dbo].[Yoneticiler] OFF
GO
SET IDENTITY_INSERT [dbo].[YoneticiTurleri] ON 

INSERT [dbo].[YoneticiTurleri] ([ID], [Isim]) VALUES (1, N'Admin')
INSERT [dbo].[YoneticiTurleri] ([ID], [Isim]) VALUES (2, N'Yazar')
SET IDENTITY_INSERT [dbo].[YoneticiTurleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([ID], [Uye_ID], [Makale_ID], [Icerik], [EklemeTarihi], [BegeniSayi], [Durum]) VALUES (3, 13, 12, N'test', CAST(N'2023-05-14T00:27:25.480' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
ALTER TABLE [dbo].[Makaleler]  WITH CHECK ADD  CONSTRAINT [fk_MakaleKategori] FOREIGN KEY([Kategori_ID])
REFERENCES [dbo].[Kategoriler] ([ID])
GO
ALTER TABLE [dbo].[Makaleler] CHECK CONSTRAINT [fk_MakaleKategori]
GO
ALTER TABLE [dbo].[Makaleler]  WITH CHECK ADD  CONSTRAINT [fk_MakaleYonetici] FOREIGN KEY([Yazar_ID])
REFERENCES [dbo].[Yoneticiler] ([ID])
GO
ALTER TABLE [dbo].[Makaleler] CHECK CONSTRAINT [fk_MakaleYonetici]
GO
ALTER TABLE [dbo].[Yoneticiler]  WITH CHECK ADD  CONSTRAINT [fk_YoneticiYoneticiTur] FOREIGN KEY([YoneticiTur_ID])
REFERENCES [dbo].[YoneticiTurleri] ([ID])
GO
ALTER TABLE [dbo].[Yoneticiler] CHECK CONSTRAINT [fk_YoneticiYoneticiTur]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [fk_YorumMakale] FOREIGN KEY([Makale_ID])
REFERENCES [dbo].[Makaleler] ([ID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [fk_YorumMakale]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [fk_YorumUye] FOREIGN KEY([Uye_ID])
REFERENCES [dbo].[Uyeler] ([ID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [fk_YorumUye]
GO
